{{ content_for_index }}

<div class="page-width">
  
  <div class="content-block">
    {% section 'dynamic3' %}
    	<div class="rte rte--indented-images">
      
      		{% section 'dynamic1' %} 
      	<div class="page-body">   
        
  	  		<div class= "content">
             
  	  		{% section 'dynamic2' %}              	
    		
  	  		</div>
        
      	</div>
      
	  	</div>
    
     </div>
</div>
